@use "../utils/vars" as *;
@use "../utils/mixins" as *;

.header {
	padding: 35px 0;
	&__inner {
		@include flex(row,sb,c);
	}
	&__logo {
		font-size: 30px;
    letter-spacing: 5px;
		font-weight: 400;
		padding-right: 60px;
	}
}

.menu {
	@include flex(row,sb,c);
	flex-grow: 1;
	&__auth {
	}
}