.main-slider
	.swiper-container.main-slider__container
		.swiper-wrapper
			.swiper-slide.main-slider__slide(style=`background-image: url(${require("../../../images/image2.jpg")})`)
				.main-slider__title КНИГИ
			.swiper-slide.main-slider__slide(style=`background-image: url(${require("../../../images/image3.jpg")})`)
				.main-slider__title КНИГИ
			.swiper-slide.main-slider__slide(style=`background-image: url(${require("../../../images/image4.png")})`)
				.main-slider__title КНИГИ
		.swiper-pagination.main-slider__pagination