header.header.container
  .header__inner
    a(href='/').header__logo
      .header__title READMENOW
    nav.menu
      li
        a#good-books(href='#') ХОРОШИЕ КНИГИ
      li
        a(href='#') НОВИНКИ
      li
        a#profile-name(href='profile.html')
      li.menu__auth
        button#button-auth ВОЙТИ В ЛИЧНЫЙ КАБИНЕТ
        button#button-reg РЕГИСТРАЦИЯ
        //- button#button-out ВЫЙТИ
