header.header#header
  .container
    section.header__inner
      a(href='/').header__logo
        .header__title READMENOW
      nav.menu
        li
          a#good-books(href='#') ХОРОШИЕ КНИГИ
        li
          a(href='#') НОВИНКИ
        //- li
        //-   a#profile-name(href='profile.html')
        li.menu__auth(@click="openModalAuth") ВОЙТИ В ЛИЧНЫЙ КАБИНЕТ
    c-modal(:open="modalAuth" @click="modalAuthToggle")
      c-auth(@close="modalAuthToggle")
      
