header.header#header
  .container
    section.header__inner
      a(href='/').header__logo
        .header__title READMENOW
      nav.menu
        li
          a#good-books(href='#').btn ХОРОШИЕ КНИГИ
        li
          a(href='#').btn НОВИНКИ
        li.menu__auth(v-if="checkUser" @click="modalAuthToggle").btn ВОЙТИ В ЛИЧНЫЙ КАБИНЕТ
        li.menu__auth-login(v-else) {{getUser.email}}
          span.menu__auth-logout.btn(v-if="!checkUser" @click="logOut") ВЫЙТИ
    c-modal(:open="modalAuth" @click="modalAuthToggle")
      c-auth(@close="modalAuthToggle")
      
