@import "../../../node_modules/normalize.css/normalize";
@import "../../../node_modules/slick-carousel/slick/slick";
@import "../../../node_modules/magnific-popup/dist/magnific-popup";

* {
    font-family: "Roboto";
}
li,
a {
    text-decoration: none;
    list-style-type: none;
    color: #000000;
}
ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.hidden {
    display: none;
}

.header {
    background-color: #fff;
    color: #000000;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.header__title {
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 400;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: #000000;
    }
    li + li {
        margin-left: 40px;
    }
    button {
        border: none;
        background-color: #59eebc;
        padding: 6px;
    }
}

#profile-name {
    font-weight: 600;
    text-transform: uppercase;
}

#button-out {
    display: none;
}
.is-open {
    display: flex;
}

.top {
    background-color: #fff9ed;
    height: 100%;
}
.top__inner {
    padding-bottom: 125px;
}

.top__slider {
    padding: 40px 50px 80px;
}
.top__slider__element {
    background-image: url(../img/image2.jpg);
    background-size: cover;
    min-height: 574px;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &:nth-of-type(3) {
        background-image: url(../img/image3.jpg);
    }
    &:nth-of-type(4) {
        background-image: url(../img/image4.png);
    }
}
.top__slider__element__title {
    font-size: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 180px;
    text-shadow: 2px 2px 4px #000000;
}

.slick-dots {
    display: flex;
    list-style: none;
    justify-content: center;
    z-index: 5;
    padding-inline-start: 0px;
    margin-block-start: 10px;
    margin-block-end: 0px;
    li + li {
        margin-left: 6px;
    }
}
.slick-dots button {
    border: none;
    background-color: #a3dde1;
    font-size: 0;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin: 10px auto;
    display: block;
}

.top__button {
    background-color: #a3dde1;
    border: none;
    border-radius: 34px;
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 0 auto;
    a {
        color: #ffffff;
    }
}
.books {
    display: none;
    background-color: #fff9ed;
    height: 100%;
}
.books__inner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-items: center;
}
.card {
    max-height: 650px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.card-image {
    max-height: 300px;
}
.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
}
.card-autor {
    margin: 5px 0;
}
.card-more {
    display: flex;
    align-items: center;
}
.card-rating {
    background-image: url("../img/rating.svg");
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 32px;
}
.card-genre {
}
.button-add-cart {
    margin-top: 10px;
    max-width: 160px;
}

.footer {
    background-color: #f7f7f7;
}
.footer__inner {
}
.footer__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 50px;
    letter-spacing: 3px;
}

.modal-auth {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal-dialog {
    max-width: 450px;
    width: 95%;
    background: #ffffff;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
    position: relative;
}
.close-auth {
    position: absolute;
    top: 10px;
    right: 10px;
}
.modal-body {
    margin: 40px 20px;
}
.modal-title {
    font-size: 32px;
    font-weight: 600;
}
.label-auth {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    span {
        margin-right: 50px;
    }
    input {
        margin-left: 40px;
    }
    input + input {
        margin-bottom: 10px;
    }
}

.profile {
    background-color: #fff9ed;
}
.profile__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;    
}
.profile__left {
    padding-top: 140px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 195px;
}
.left__name {
    font-weight: 600;
}
.left__photo {
    height: 254px;
    width: 185px;
    border: 1px solid #000;
    background-color: #fff;
    margin-bottom: 95px;
    margin-top: 75px;
}
.left__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    li + li {
        margin-top: 80px;
    }
    a {
        color: #3c72bf;
    }
}
.profile__right {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 745px;
    width: 100%;
}
.right__title {
    color: #3c72bf;
    font-size: 36px;
}
.right__inner {
}
