extends ../layout/layout.pug

block content
    main.main(role="main")
        .container
            include ../components/sliders/main-slider.pug
            .main-button 
                a(href='#') НАЧАТЬ

     
        


