extends ../layout/layout.pug

block content
    main.main(role="main")
        .container
            include ../components/sliders/main-slider.pug
            .main-button.btn 
                a(href='#') НАЧАТЬ
        //- form
        //-     input#name(type="email", name="name" placeholder="1")
        //-     input#pswd(type="password", name="pswd" placeholder="2")
        //-     #ok CLICK



     
        


